@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Sans+Multani&family=Roboto&family=Rubik&family=Secular+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: black;
}

.interface{
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(107, 107, 207);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px rgba(107, 107, 207, 0.363);
    transform: scale(1.09s);
    background-color: aliceblue;
}

/*ESTILO HEADER*/
header{
    padding: 40PX 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
}

header img{
    max-width:200px;
    max-height:100px;
    width: auto;
    height: auto;
    border-radius: 400px 200px 150px 150px;
    background-color: rgb(107, 107, 207);
}

header a{
    color: rgb(124, 123, 123);
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

header a:hover{
    color: rgb(253, 252, 252);
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: aliceblue;
    font-size: 42px;
    line-height: 40px;
    animation: incandescente 0.7s infinite alternate;
}

.topo-do-site h1 spam{
    color: rgb(107, 107, 207);;
}

@keyframes incandescente {
    0% { opacity: 0.9; }
    100% { opacity: 0.5; }
}

.topo-do-site img{
    width: 280px;
    height: 300px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: rgb(107, 107, 207);
}

.topo-do-site p{
    color: aliceblue;
    margin: 40px;

}

.topo-do-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100% {
        top30px
    }
}



