@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(32, 27, 27);
    font-family: 'Titillium Web', sans-serif;
    width: 90%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

img{
    width: 50%;
}

h1{
    padding: 15px;
    margin: 20px;
    margin-top: -8%;
    width: 90%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    margin: 10px;
    margin-top: -2%;
    border-bottom: 5px solid rgb(75, 75, 85);
    display: flex;
    justify-content: center;
    align-items: center;
}

ol{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left; 
}

a{
    color: aqua;
    font-size: 20px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: left;
}