@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Sans+Multani&family=Roboto&family=Rubik&family=Secular+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: black;
}

.interface{
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(107, 107, 207);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
}

button:hover{
    box-shadow: 0px 0px 20px rgb(107, 107, 207);
    transform: scale(1.02);
    transform: scale(1.09s);
    background-color: aliceblue;
}

h2.titulo{
    color: aliceblue;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: rgb(107, 107, 207);
}

/*ESTILO HEADER*/
header{
    padding: 40PX 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
}

header img{
    max-width:200px;
    max-height:100px;
    width: auto;
    height: auto;
    border-radius: 400px 200px 150px 150px;
    background-color: rgb(107, 107, 207);
    transition: .5s;
}

header img:hover{
    box-shadow: 0px 0px 20px rgb(107, 107, 207);
    transform: scale(1.02);
    transform: scale(1.09s);
    background-color: aliceblue;
}

header a{
    color: rgb(124, 123, 123);
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

header a:hover{
    color: rgb(253, 252, 252);
    transform: scale(1.02);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    transition: .3s;
}

header nav ul li:hover{
    transform: scale(1.09);
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: aliceblue;
    font-size: 42px;
    line-height: 40px;
    animation: incandescente 0.7s infinite alternate;
}

.topo-do-site h1 spam{
    color: rgb(107, 107, 207);
}

@keyframes incandescente {
    0% { opacity: 0.9; }
    100% { opacity: 0.5; }
}

.img-topo-site{
    box-shadow: 0 0 20px rgba(240, 248, 255, 0.486);
}

.topo-do-site img{
    width: 280px;
    height: 300px;
    background-size: cover;
    background-position: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: rgb(107, 107, 207);
    position: relative;
    animation: flutuar 3s ease-in-out infinite alternate;
}

.topo-do-site p{
    color: aliceblue;
    margin: 40px;

}

@keyframes flutuar{
    0%{
        top: -10px;
    }
    100% {
        top: 15px;
    }
}

/*ESPECIALIDADES*/
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    width: 400px;
    color: aliceblue;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(240, 248, 255, 0.486);
}

.especialidades-box i{
    font-size: 70px;
    color: rgb(107, 107, 207);
}

.especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/*SOBRE*/
section.sobre{
    padding: 40px 4%;
}

.sobre .txt-sobre{
    color: aliceblue;
}

section.sobre .flex{
    align-items: center;
    padding: 60px;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre span{
    color: rgb(107, 107, 207);
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgb(107, 107, 207);
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}

/*PORTFOLIO*/
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(240, 248, 255, 0.486);
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 0% 100%;
    transition: .8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: aliceblue;
    background-color: #000000b8;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}