*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header{
    justify-content: left;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 40px 5%;
    max-width: 90%;
    padding: 3%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    background-color: white;
    overflow: hidden;
}

.form-control {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* border-bottom: 3px solid palevioletred; */
}

.form-control input, .form-control select, .form-control textarea, .custom-file-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #55555598;
}

.form-control textarea:hover, .form-control select:hover, .form-control input[type="file"]:hover, .custom-file-input:hover {
    border: none;
    border-bottom: 3px solid palevioletred;
    border-left: 3px solid palevioletred;
}

.form-control select{
    color: #55555598;
    padding-left: .5%;
}

.form-control textarea::placeholder {
    color: #55555598;
}

.form-control input[type="file"]{
    display: none;
}

label {
    color: #55555598;
    margin-bottom: 2%;
  }

.form-control i{
    position: absolute;
    top: 22%;
    right: 3%;
    visibility: hidden;
}

.form-control small{
    position: absolute;
    top: 70%;
    left: 1%;
    visibility: hidden;
}

.btn-login{
    margin-bottom: 10px;
    padding: 10px 50px;
    color: palevioletred;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-login a:hover {
    background-color: palevioletred;
    color: #ccc;
}

/* Error and Success */
.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control.success i.bi.bi-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-control.error i.bi.bi-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-control.error small {
    font-size: 10px;
    visibility: visible;
    color: #e74c3c;
  }