/* Estilos Footer */
footer{
    margin: 0 20px;
    padding: 20px 4%;
    border-top: 3px solid palevioletred;
    display: flex;
    justify-content: space-around;
}

.links-footer{
    align-items: center;
    justify-content: center;
}

.links-footer p{
    margin-bottom: 2%;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.links-footer a{
    color: palevioletred;
    margin-bottom: 2%;
    font-weight: 400;
    font-family: 'Comic Sans MS', cursive;
    text-decoration: none;
}