@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');



/* Estilos Gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
}

/*Estilos Carroussel*/
section.carroussel{
    margin: 2% auto;
    width: 90%;
    overflow: hidden;
}

.carroussel-content{
    width: 400%;
    display: flex;
}

.carroussel input{
    display: none;
}

.slide-box{
    width: 25%;
    text-align: center;
    transition: 1s;
    position: relative;
}

.slide-box img{
    width: 100%;
    height: 300px;
}

.nav-carroussel-auto, .nav-carroussel-manual{
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 310px;
}

.nav-carroussel-manual .btn-manual, .nav-carroussel-auto div{
    border: 1px solid palevioletred;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-carroussel-manual .btn-manual:not(:last-child), .nav-carroussel-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-carroussel-manual .btn-manual:hover{
    background-color: palevioletred;
}

#radio1:checked ~ .nav-carroussel-auto .auto-btn1, #radio2:checked ~ .nav-carroussel-auto .auto-btn2, #radio3:checked ~ .nav-carroussel-auto .auto-btn3{
    background-color: palevioletred;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

/* Esilos Main Cards*/
section.main-cards{
    padding: 40px 4%;
    gap: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-content{
    max-width: 500px;
    background-color: rgb(238, 159, 185);
    border: 3px solid rgb(238, 159, 185);
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.card-img img{
    width: 250px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.card-content h2{
    font-size: 28px;
    font-family: 'Comic Sans MS', cursive;
    margin: 10px auto;
    padding: 1%;
}

.card-content p{
    padding: 1% 0;
    background-color: rgb(247, 210, 222);
    font-size: 16px;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
}

