@media screen and (max-width: 770px) {

.navbar {
    flex-direction: column;
}

.logo-market-place {
    background-image: url('../imagens/market-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 60px;
}

.navbar-items {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    margin-left: 10px;
    padding: 10px 50px;
    color: palevioletred;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: palevioletred;
    color: #ccc;
}

.btn-anunciar {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 50px;
    background-color: palevioletred;
    color: #ccc;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-anunciar:hover {
    background-color: rgb(238, 159, 185);
    color: rgb(61, 60, 60);
}

}
