@media screen and (max-width: 770px) {

    .navbar {
        flex-direction: column;
    }

}

@media screen and (max-width: 450px) {

    .navbar {
        flex-direction: column;
    }

    .navbar-items {
        flex-wrap: wrap;
        /* gap: 20px; */
    }

    input[type="text"] {
        flex-grow: 1;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }

    .btn-login {
        width: 150px;
        margin: 20px;
        margin-bottom: 2px;
    }
    
    .btn-anunciar {
        width: 150px;
        margin: 20px;
        margin-right: 10px;
        margin-bottom: 2px;
        padding: 10px 50px;
        color: palevioletred;
        background-color: beige;
        font-size: 18px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .btn-anunciar:hover {
        background-color: palevioletred;
        color: #ccc;
    }

}
