*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    color: #fff;
    padding: 20px 4%;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 3px solid palevioletred;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo-market-place {
    background-image: url('../imagens/market-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 60px;
}

.navbar-items {
    display: flex;
    align-items: center;
    gap: 40px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:hover {

    border-bottom: 3px solid palevioletred;
}

.navbar-items > .btn-login, .navbar > .btn-anunciar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-login {
    margin: 0px;
    padding: 10px 50px;
    color: palevioletred;
    background-color: aliceblue;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: palevioletred;
    color: #ccc;
}

.btn-anunciar {
    margin: 0px;
    padding: 10px 50px;
    background-color: aliceblue;
    color: #ccc;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-anunciar:hover {
    background-color: rgb(238, 159, 185);
    color: rgb(61, 60, 60);
}

.main-cards{
    padding: 40px 4%;
    gap: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-content{
    max-width: 500px;
    background-color: rgb(238, 159, 185);
    border: 3px solid rgb(238, 159, 185);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card-img img{
    width: 250px;
    height: 200px;
}

.card-content h2{
    font-size: 28px;
    margin: 10px auto;
    margin-bottom: 40px;
}

.card-content p{
    background-color: aqua;
    font-size: 16px;
    justify-content: left;
}