.line1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  margin: 0px 40px;
  margin-top: -15px;
}

.line2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -80px;
}

.line3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  margin: -80px 40px;
}

.card {
  color: #3cb371;
  text-align: center;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
